body{
    margin: 50px auto;
    background-color: rgb(245, 245, 245);
}

.main-box{
    width: 330px;
    margin: 50px auto;
}

.box{
    height: 110px;
    width: 110px;
    background-color: aqua;
    cursor: pointer;
} 

footer{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 50px auto 25px;
}


